## Java

*.class
*.war
*.ear
hs_err_pid*

## Android Studio and Intellij and Android in general

.idea/

## Eclipse

.classpath
.project
.metadata/
/buildSrc/bin/
/BytecodeManipExampleGetLocals/bin/
/consumer/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/buildSrc/nbproject/private/
/BytecodeManipExampleGetLocals/nbproject/private/
/consumer/nbproject/private/

/nbbuild/
/buildSrc/nbbuild/
/BytecodeManipExampleGetLocals/nbbuild/
/consumer/nbbuild/

/dist/
/buildSrc/dist/
/BytecodeManipExampleGetLocals/dist/
/consumer/dist/

/nbdist/
/buildSrc/nbdist/
/BytecodeManipExampleGetLocals/nbdist/
/consumer/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/build-cache/
/buildSrc/build/
/BytecodeManipExampleGetLocals/build/
/consumer/build/

## OS Specific
.DS_Store
Thumbs.db
